$font_stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

//defining colors

$background_color:  #030303;

$main_font_color: #a2abbd;

$nav_color: #edad61;

$nav_font_color: #ffffff;

$section_background_color: #2f2f3a;

$section_font_color: #a2abbd;

$section_line_color: #2b2b36;

$footer_background_color: #22222b;

//defining radiuses

$top_radius: 1.5em 1.5em 0 0;

$bottom_radius: 0 0 1.5em 1.5em;

//defining font sizes

$main_font_size: 1.5rem;

$smaller_font_size: $main_font_size / 2;

$bolder_font: 700;
